// Primary Colors
$black: #13182C;
$indigo: #2E66E5;
$white: #FFFFFF;
// Secondary Colors
$slate: #5C667E;
$cloud: #BDC5D5;
// Background Colors
$graphite: #232940;
$light-gray: #F7F8F9;
// Supporting Colors
$green: #158463;
$red: #C94515;
$overlay: rgba(19, 24, 44, 0.5);