.button__container--text {
    padding: 1rem;
}

.button__container {
    display: flex;
    flex-direction: column;

}

.loadingcontainer--text{

    align-items: center;
    justify-content: center;
}