.appbody__container--commerce {

    display: flex;
    width: 100%;
    padding-left: 3rem;
}

.appbody__container--products{

    display: flex;
    width:100%;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
    
}

.appbody__container--price{

    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.appbody__container--discountprice{

    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.appbody__container--productstitle {

    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    border-bottom: 2px black solid;
    margin-bottom: 2rem;
    background: black;
    color: white;
    border-radius: 2rem;
}

.nftlogo__container{

    color: gold;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
}

.raptorsbadge {

    position: absolute;
    top: 80%;
    left: 55%;
}