.header {
  background-color: #232940;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {

    height: 4rem;
    border-radius: 2rem;

  }

  &__logo-container {
    padding: 1.5rem;
    margin: 1rem;


  }

  &__links {
    display: flex;
    width: 100%;
    padding-bottom: 5.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

  }

  &__link-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #232940;
    align-items: center;
    color: white;

    &:hover {
      background-color: #13182c;
      border-radius: 1.25rem;
      
       }
  }

  &__link {
    color: #bdc5d5;
    text-decoration: none;
    justify-content: center;
    display: flex;

    &:hover {
      font-color: gold;
       }

  }

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 2rem;
    padding-bottom: 8rem;
    justify-content: space-between;

    &__logo-container {
      padding: 0;
    }

    &__links {
      width: auto;
      padding: 0;
      
    }

    &__link {
      justify-content: center;
      display: flex;
      font-size: 1rem;
      color: white;
    }

    &__link-container {
      width: auto;
      padding: 0.5rem;
      justify-content: center;
    }
  }

  @media (min-width: 1280px) {
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    
    &__link-container {
      width: auto;
      padding: 0.5rem;
      justify-content: center;
    }

    &__link {

      justify-content: center;
      display: flex;
    }

    &__logo-container {
      margin-right: 20rem;
    }
  }
}

.header__link--title {

  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  text-align: center;
  
  &:hover {
    color: gold;

     }
  
  }