@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home__mastercontainer{

  padding-left: 1rem;
}
.home__title {
  padding-bottom: 2rem;
}

.home__container--title {

padding-top: 1rem;

}


.home__mastercontainer--logos{

  display: flex;

}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


.icon--picture{

  display: flex;
width: 25%;
border-radius: 2rem;
background-color: black;

}

.content__container{

  background-color: black;
  width:100%;
}

.content__container--header{

  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 1rem;

}
.content__container--text{

  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
 
}