@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.slideshow__container {

  display: flex;
  justify-content: center;
  height: 30rem;

}

.hero__banner {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
  }

  .hero__imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .hero__imgcontainer-img {

    height: 10rem;

  }

  .button__container  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
  }


  .content__container{
    @include container;
    margin: 0rem;
    padding-bottom: 1rem;
    

  }

  .content__container--header{
    
    @include h1__M-header;
    display: flex;
    padding-left:1.5rem;
    justify-content:center;
   

    @include tablet {
      @include h1__DT-header;
      display: flex;
      padding-left:1.5rem;
      justify-content:center;
      
    }

  }

  .content__container--text {
    @include p__body-large;
    display: flex;
    padding-left:1.5rem;
    justify-content: center;

  }

