
.slideshow__container {

  display: flex;
  justify-content: center;
  height: 30rem;

}

.hero__banner {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
  }

  .hero__imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .hero__imgcontainer-img {

    height: 10rem;

  }


