@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wallet__container {

  border-radius: 10px;
  align-items: center;
  display: flex;

  &--address {
    color: white;

    &:hover{
      text-decoration: underline;
        }
  }

}



.spinner__container {

  padding: 1rem;
}

.icon {
  height:2rem;
    animation: spin 2s linear infinite; 
}



.button {
  border-radius: 8px;
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 2%;
}
